/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Start of sidenav and toolbar styles */
mat-sidenav {
    width: 200px;
    background-color: var(--clr-primary-400);
    color: white;
}

mat-sidenav-container {
    height: 100vh;
}

mat-divider {
    width: 75%;
    margin: 1rem auto;
    background-color: var(--clr-neutral-400);
}

mat-toolbar {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.logo-placeholder-container  img {
    width: 100%;
    height: auto;
}

.sidenav__button {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.625rem;
    font-size: 1rem;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.active {
    background-color: var(--clr-primary-800);
}

.sidenav__button mat-icon {
    margin-right: 1rem;
}
/* End of sidenav and toolbar styles */


/* Main content styles */
.maincontent__container {
    padding: 2rem;
}


.greeting-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title__text h1, p {
    margin: 0;
}

.title__text > h1 {
    color: var(--clr-primary-400);
}

.searchbox {
    width: 35%;
    margin-top: 1rem;
}

.main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Start of Lesson card styles */
.lessoncard__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.lesson-card {
    padding: 2rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-left: 5px solid var(--clr-danger-400);
}

.lesson {
    font-size: 1.438rem;
    font-weight: 800;
}

.lesson-desc {
    font-size: 1rem;
}

/* End of Lesson card styles */
/* End of Main content styles */

/* Responsive styles */
@media screen and (max-width: 46.875em) {
    .maincontent__container {
        padding: 1rem;
    }

    .searchbox {
        width: 30%;
    }

    .lessoncard__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .lesson-card {
        padding: 2rem;
        width: 100%;
    }

    .greeting-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .greeting-text > h1 {
        font-size: 1.5rem;
    }

    .searchbox {
        width: 100%;
    }
}