<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Instructor's Homepage</title>
</head>
<body>
    <div class="main-container">
        <div id="Dish">
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
        </div>  
        <div class="action-bar">
            <div class="videocall_buttons">
                <button mat-flat-button>
                    <mat-icon>fullscreen_exit</mat-icon>
                </button>
                 <button mat-flat-button>
                    <mat-icon>videocam_off</mat-icon>
                </button>
                <button mat-flat-button class="danger-button">End Call</button>
                <button mat-flat-button>
                    <mat-icon>mic_off</mat-icon>
                </button>
                <button mat-flat-button>
                    <mat-icon>screen_share</mat-icon>
                </button>
            </div>
            <!-- <div class="av-controls">
                <ul class="list-inline">
                    <li>
                        <span class="fa">12: 41 PM | </span>
                    </li>
                    <li>
                        <span class="fa">igw-aton-opf </span>
                    </li>
                </ul>
            </div>
            <div class="chat-controls">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-microphone-slash"></i>
                        <span class="fa">Unmute</span>
                    </li>
                    <li>
                        <i class="fa fa-desktop"></i>
                        <span class="fa">Share Screen</span>
                    </li>
                    <li>
                        <i class="fa fa-video-camera"></i>
                        <span class="fa">Record</span>
                    </li>
                </ul>
            </div>
            <div class="end-meeting">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </li>
                </ul>
            </div> -->
        </div>  
    </div>
</body>
</html>