/* Sidenav and toolbar styles */
mat-sidenav {
    width: 75px;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
}

mat-sidenav-container {
    height: 100vh;
}

mat-toolbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-spacer {
    flex: 1 1 auto;
}

.sidenav__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sidenav__buttons button:hover {
    background-color: var(--clr-primary-600);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.active {
    background-color: var(--clr-primary-800);
}

.colored-icon {
    color: var(--clr-primary-400);
}

mat-toolbar > button:hover {
    background-color: var(--clr-secondary-600);
}

/* End of sidenav and toolbar styles */


/* Main content styles */
.maincontent__container {
    padding: 2rem;
}

.greeting-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-text h1, p {
    margin: 0;
}

.greeting-text > h1 {
    color: var(--clr-primary-400);
}

.searchbox {
    width: 35%;
    margin-top: 1rem;
}

.main__content {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Start of Lesson card styles */
.lessoncard__container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.lesson-card {
    padding: 2rem;
    flex-grow: 1;
    border-left: 5px solid var(--clr-success-600);
}

.lesson {
    font-size: 1.438rem;
    font-weight: 800;
}

.lesson-desc {
    font-size: 1rem;
}

/* End of Lesson card styles */
/* End of Main content styles */

/* Responsive styles */
@media screen and (max-width: 46.875em) {
    .maincontent__container {
        padding: 1rem;
    }

    .searchbox {
        width: 30%;
    }

    .lessoncard__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .lesson-card {
        padding: 2rem;
        width: 100%;
    }

    .greeting-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .greeting-text > h1 {
        font-size: 1.5rem;
    }

    .searchbox {
        width: 100%;
    }

}