.main-container {
    display: flex;
    height: 100%;
}

.graphic-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.graphic-container img {
    width: 100%;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.form-container input {
    background-color: var(--clr-secondary-400);
    border: 1px solid var(--clr-secondary-400);;
    border-radius: 3.125rem;
    padding: 1.5rem;
    width: 30rem;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.031rem;
    margin: 0 auto;
}

.form-container input:focus {
    outline: none !important;
}

.forgot-password {
    margin: 0 auto;
}

.forgot-password a{
    text-decoration: none;
    color: var(--clr-primary-400);
    font-weight: 600;
}

.login-btn {
    background-color: var(--clr-primary-400);;
    color: var(--clr-neutral-400);
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.063rem;
    width: 25rem;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.login-btn:hover {
    background-color: var(--clr-primary-600);
}

.logo-container{
    /* position: relative; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 50em) { 
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .form-container input{
        width: 100%;
    }

    .login-btn {
        width: 80%;
    }

    .logo-container{
        width: 1rem !important;
        height: auto;
    }

    .graphic-container{
        display: none;
    }
}