<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <!-- Login graphic illustration container -->
        <div class="graphic-container">
            <img src="../../assets/images/login-graphic.png">
        </div>
        <!-- End of container -->

        <!-- Login form and login button container -->
        <div class="form-container">
            <!-- Input fields -->
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <!-- Login button -->
            <div class="login-btn">
                <p>LOGIN</p>
            </div>
            <!-- Forgot password container -->
            <div class="forgot-password">
                <p>Forgot Password? <span><a href="#">Click Here</a></span></p>
            </div>
            <!-- End of forgot password container -->
        </div>
        <!-- End of container -->
    </div>
</body>
</html>
