/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.graphic-container {
    display: none;
}

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.form-container input {
    background-color: var(--clr-secondary-400);
    border: 1px solid var(--clr-secondary-400);;
    border-radius: 3.125rem;
    padding: 1.5rem;
    width: 90%;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.031rem;
    margin: 0 auto;
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.form-container input:focus-visible {
    outline: none;
    border: 2.5px solid var(--clr-primary-400);
}

.forgot-password {
    margin: 0 auto;
}

.forgot-password a{
    text-decoration: none;
    color: var(--clr-primary-400);
    font-weight: 600;
}

.login-btn {
    background-color: var(--clr-primary-400);;
    color: var(--clr-neutral-400);
    padding: 1rem;
    border-radius: 3.125rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.063rem;
    width: 70%;
    margin: 0 auto;
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.login-btn:hover {
    background-color: var(--clr-primary-600);
}

.logo-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

/* Responsive styles */

@media screen and (min-width: 750px) {
    .graphic-container {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .graphic-container img {
        width: 100%;
        height: auto;
    }

    .main-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .form-container input {
        width: 60%;
        font-size: 1.25rem;
    }

    .login-btn {
        width: 50%;
        font-size: 1.25rem;
    }
}