<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <!-- Login graphic illustration container -->
        <div class="graphic-container">
            <img src="../../assets/images/login-graphic.png">
        </div>
        <!-- End of container -->

        <!-- Login form and login button container -->
        <div class="form-container">

            <!-- Logos -->
            <div class="logo-container">
                <img src="../../assets/images/Ellipse.png">
                <img src="../../assets/images/Ellipse.png">
            </div>

            <!-- Input fields -->
            <input [(ngModel)]="user_name" type="text" placeholder="Username" required>
            <input [(ngModel)]="user_password" type="password" placeholder="Password" required>
           
            <!-- Login button -->
            <button mat-flat-button class="login-btn" (click)="login()">LOGIN</button>

            <!-- Forgot password container -->
            <div class="forgot-password">
                <p>Forgot Password? <span><a href="#">Click here</a></span></p>
            </div>
            <!-- End of forgot password container -->
        </div>
        <!-- End of container -->
    </div>
</body>
</html>
