/* Start of sidenav and toolbar styles */
mat-sidenav {
    width: 200px;
    background-color: var(--clr-primary-400);
    color: white;
}

mat-sidenav-container {
    height: 100vh;
}

mat-divider {
    width: 75%;
    margin: 1rem auto;
    background-color: var(--clr-neutral-400);
}

mat-toolbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-spacer {
    flex: 1 1 auto;
}

.logo-placeholder-container  img {
    width: 100%;
    height: auto;
}

.sidenav__button {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.625rem;
    font-size: 1rem;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.active {
    background-color: var(--clr-primary-800);
}

.sidenav__button mat-icon {
    margin-right: 1rem;
}
/* End of sidenav and toolbar styles */

/* Main content styles */
.maincontent__container {
    padding: 2rem;
}

.main__content {
    display: flex;
    gap: 1rem;
    /* margin-top: 1rem; */
    justify-content: center;
}

.stud__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studinfo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 0.625rem;
}


.stud__name {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.dept__course {
    font-size: 0.875rem;
    margin: 0;
}

.profile__info {
    padding: 1rem;
    border-radius: 0.625rem;
    width: 50%;
}

.divider {
    border-top: 5px solid var(--clr-primary-400);
    width: 14rem;
    padding: 1rem;
}

.userinfo__container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.userinfo__container p {
    flex: 1;
    margin: 0;
    font-weight: 800;
}

.user__info {
    padding: 0.5rem;
    background-color: var(--clr-secondary-400);
    border-radius: 10px;
    flex: 1;
}

.wickedbackground {
    background-image: url('../../assets/images/wickedbackground.png');
    padding: 2rem;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}

.wickedbackground p {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--clr-neutral-400);
}

/* Responsive stylings */

@media screen and (max-width: 50em) { 
    
    .maincontent__container {
        padding: 1rem;
    }

    .main__content {
        flex-direction: column;
    }

    .studinfo__container, .profile__info {
        width: 100%;
    }

    .user__info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.875rem;
    }

    .userinfo__container p {
        font-size: 0.875rem;
    }

    .wickedbackground {
        padding: 1rem;
    }

    .wickedbackground p {
        font-size: 1.125rem;
    }
}
