<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin Meetingfullscreen</title>
</head>
<body>
    <div class="main-container">
        <div id="Dish">
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
            <video class="Camera" src="https://dosant.github.io/video.mp4"></video>
        </div>  
        <div class="action-bar">
            <div class="videocall_buttons">
                <button mat-flat-button data-tooltip="Exit fullscreen" routerLink="/stud-meeting">
                    <mat-icon>fullscreen_exit</mat-icon>
                </button>
                 <button mat-flat-button data-tooltip="Turn off camera">
                    <mat-icon>videocam_off</mat-icon>
                </button>
                <button mat-flat-button class="danger-button" routerLink="/stud-home">End Call</button>
                <button mat-flat-button data-tooltip="Turn off microphone">
                    <mat-icon>mic_off</mat-icon>
                </button>
                <button mat-flat-button data-tooltip="Share your screen" routerLink="/stud-sharescreen">
                    <mat-icon>screen_share</mat-icon>
                </button>
            </div>
        </div>  
    </div>
</body>
</html>