<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        
        <div class="mainsharescreen__container">
            <div class="main-sharescreen">
                <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
            </div>
            <div class="participants__container">
                <div class="participant">
                    <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
                </div>
                <div class="participant">
                    <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
                </div>
                <div class="participant">
                    <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
                </div>
                <div class="participant">
                    <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
                </div>
                <div class="participant">
                    <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
                </div>
                <div class="participant">
                    <video muted autoplay loop src="../../assets/images/samplevideo.m4v"></video>
                </div>
            </div>
        </div>

        <div class="videocall_buttons">
            <button mat-flat-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-flat-button>
                <mat-icon>groups</mat-icon>
            </button>
             <button mat-flat-button>
                <mat-icon>videocam_off</mat-icon>
            </button>
            <button mat-flat-button class="danger-button">End Call</button>
            <button mat-flat-button>
                <mat-icon>mic_off</mat-icon>
            </button>
            <button mat-flat-button>
                <mat-icon>screen_share</mat-icon>
            </button>
            <button mat-flat-button>
                <mat-icon>chat</mat-icon>
            </button>
        </div>
    </div>
</body>
</html>