<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <!-- Login graphic illustration container -->
        <div class="graphic-container">
            <img src="../../assets/images/Forgot_password.png">
        </div>
        <!-- End of container -->
        <div class="form-container">
            <div class="instruction-container">
                <p class="instruction">Enter your birthdate, email, and student number and we will
                    send an email containing your new credentials.
                </p>
            </div>
            <!-- Input fields -->
            <input type="text" placeholder="Date of Birth" required>
            <input type="text" placeholder="Email Address" required>
            <input type="text" placeholder="Student Number" required>

            <!-- Confirm button -->
            <div class="confirm-btn">
                <p>CONFIRM</p>
            </div>
        </div>
    </div>
</body>
</html>
