.main-container {
    display: flex;
    height: 100%;
}

.graphic-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.graphic-container img {
    width: 100%;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.form-container input {
    background-color: var(--clr-secondary-400);
    border: 1px solid var(--clr-secondary-400);;
    border-radius: 3.125rem;
    padding: 1.5rem;
    width: 30rem;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.031rem;
    margin: 0 auto;
}

.form-container input:focus {
    outline: none !important;
}

.instruction {
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    font-weight: 700;
}

.confirm-btn {
    background-color: var(--clr-primary-400);;
    color: var(--clr-neutral-400);
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.063rem;
    width: 25rem;
    margin: 0 auto;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: var(--clr-primary-600);
}