/* Start of sidenav and toolbar styles */
mat-sidenav {
    width: 200px;
    background-color: #0166B3;
    color: white;
}

mat-sidenav-container {
    height: 100vh;
}

mat-divider {
    width: 75%;
    margin: 1rem auto;
    background-color: white;
}

mat-toolbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #FFF;
}

.example-spacer {
    flex: 1 1 auto;
}

.logo-placeholder-container  img {
    width: 100%;
    height: auto;
}

.sidenav__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 1rem;
}

.sidenav__button mat-icon {
    margin-right: 1rem;
}
/* End of sidenav and toolbar styles */


/* Main content styles */
.maincontent__container {
    padding: 2rem;
}

.greeting-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-text > h1 {
    color: #0166B3;
    margin: 0;
}

.save__button {
    width: 124px;
    height: 52px;
    background-color: #0166B3;
    color: #FFF;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 700;
}

.main__content {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}


/* Start of Meeting info styles */
.meetinginfo__container {
    border: 2px solid #0166B3;
    border-radius: 0.625rem;
    padding: 0.625rem;
    flex-grow: 1;
}

.meeting__info {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

input[type="text"], input[type="datetime-local"] {
    padding-left: 15px;
}

.meet-name {
    display: flex;
    width: 543px;
    height: 62px;
    font-size: 18px;
    font-weight: 700;
    color: #2F2D2D;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 25px;
}

textarea {
    padding-top: 10px;
    padding-left: 15px;
}

.meet-topic {
    width: 543px;
    height: 106px;
    font-size: 15px;
    font-weight: 700;
    color: #2F2D2D;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 22px;
    margin: 0 auto 20px; /* margin: top, right and left, bottom */
}

.label__container {
    font-size: 18px;
    font-weight: 700;
    color: #2F2D2D;
    margin-bottom: 15px;
}

.meetingdatetime__container {
    margin-bottom: 25px;
}

.meetingdatetime__container1 {
    margin-left: 27px;
}

.meet-startdatetime, .meet-enddatetime {
    width: 225px;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    font-size: 15px;
}

.meetdatetime__divider {
    margin: 0px 30px 0px 30px; /* margin: top, left, bottom, right*/
}

.meetingoccurs__container {
    margin-top: 15px;
    margin-bottom: 25px;
}

.meet-occurs {
    margin: 0 12px;
    font-size: 16px;
    font-weight: 400;
}

.meet-link {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 25px;
}

.pword-checkbox {
    margin: 10px;
}

.meet-pword {
    width: 543px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    color: #2F2D2D;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 10px;
}

.meet-name:focus, .meet-topic:focus, .meet-startdatetime:focus, 
.meet-enddatetime:focus, .meet-pword:focus {
    outline: none;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
    /* overwrites the checkbox background */
    background-color: #0166B3 !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    /* overwrites the ripple overlay on hover and click */
    background-color: #0166B3 !important;
}
/* End of Meeting info styles */


/* Start of Meeting invites styles */
.meeting__invites {
    padding: 0.625rem;
    flex-grow: 1;
}

.searchbox {
    display: flex;
    margin-top: 10px;
}

.search-icon {
    margin-top: 7px;
    margin-left: -30px;
}

.search-participant, .search-guest {
    width: 390px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    background: #D5D5D5;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 5px;
    color: #2F2D2D;
    margin-left: 10px;
}

.select-checkbox {
    margin-top: 20px;
}

.select-all {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
}

.select-participant, .select-guest {
    padding-left: 20px;
    margin-top: 20px;
}

.search-participant:focus, .search-guest:focus {
    outline: none;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 16px !important;
}
/* End of Meeting invites styles */
/* End of Main content styles */


/* Responsiveness styles */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Start of Meeting info styles */
    .meeting__info {
        padding-left: 3px;
    }

    .meetingdatetime__container {
        margin-left: 10px;
    }

    .meetingdatetime__container1 {
        margin-left: 12px;
    }
    /* End of Meeting info styles */

    /* Start of Meeting invites styles */
    .search-participant, .search-guest {
        width: 465px;
    }

    .search-icon {
        margin-left: -30px;
    }
    /* End of Meeting invites styles */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Start of Meeting info styles */
    .meeting__info {
        padding-left: 55px;
    }

    .meetingdatetime__container {
        margin-left: 10px;
    }

    .meetingdatetime__container1 {
        margin-left: 10px;
    }
    /* End of Meeting info styles */

    /* Start of Meeting invites styles */
    .search-participant, .search-guest {
        width: 660px;
    }

    .search-icon {
        margin-left: -30px;
    }
    /* End of Meeting invites styles */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Start of Meeting info styles */
    .meeting__info {
        padding-left: 45px;
    }

    .label__container, .meet-name {
        font-size: 22px;
    }

    .meet-topic, .meet-pword {
        font-size: 18px;
    }

    .meet-startdatetime, .meet-enddatetime {
        width: 270px;
        font-size: 18px;
    }

    .meet-occurs, .meet-link, .pword-checkbox {
        font-size: 20px;
    }

    .meet-link, .pword-checkbox {
        font-size: 20px;
    }
    /* End of Meeting info styles */

    /* Start of Meeting invites styles */
    .search-participant, .search-guest {
        width: 680px;
        height: 48px;
        font-size: 20px;
    }

    .search-icon {
        margin-top: 10px;
        font-size: 25px;
    }

    .select-all {
        font-size: 18px;
    }

    .select-participant, .select-guest {
        font-size: 20px;
    }

    ::ng-deep .mat-tab-label .mat-tab-label-content {
        font-size: 20px !important;
    }
}