<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Homepage</title>
</head>
<body>
    <div class="main-container">
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
                <!-- Content of the sidenav -->
                <div class="sidenav__content">
                    <!-- Sidenav buttons -->
                    <div class="sidenav__buttons">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>home</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>videocam</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>groups</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>history</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                    <!-- End of buttons -->

                </div>
            </mat-sidenav>

            <mat-sidenav-content>
                <!-- Toolbar containing sidenav toggle button -->
                <mat-toolbar>
                    <button mat-icon-button (click)="sidenav.toggle()">
                      <mat-icon>menu</mat-icon>
                    </button>
                    <span class="example-spacer"></span>
                    <button mat-icon-button>
                        <mat-icon class="colored-icon">notifications</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon class="colored-icon">account_circle</mat-icon>
                    </button>
                  </mat-toolbar>
                
                <!-- Main content container -->
                <div class="maincontent__container">
                    <!-- Colored background container -->
                    <div class="colored__container">
                        <!-- Datetime text -->
                        <div class="greeting-text">
                            <div class="greeting__actualtext">
                                <p>October 14, 2021 Thursday</p>
                                <h1>Meeting Plans</h1>
                            </div>
                        </div>
                        <!-- End of datetime text -->
                        <div class="main__content">
                            <div class="illustration">
                                <img src="../../assets/images/undraw_Online_calendar_re_wk3t.png">
                            </div>
                            <div class="meetings__container">
                                <mat-card class="mat-elevation-z4">
                                    <div class="meeting__text">
                                        <p>Brigada Eskwela</p>
                                        <p>Requested by: Lorem, ipsum.</p>
                                    </div>
                                    <div class="approval__buttons">
                                        <button mat-icon-button >
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>check</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                                <mat-card class="mat-elevation-z4">
                                    <div class="meeting__text">
                                        <p>Graduation 2021</p>
                                        <p>Requested by: Lorem, ipsum.</p>
                                    </div>
                                    <div class="approval__buttons">
                                        <button mat-icon-button >
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>check</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                                <mat-card class="mat-elevation-z4">
                                    <div class="meeting__text">
                                        <p>CCS Cool-itan 2021</p>
                                        <p>Requested by: Lorem, ipsum.</p>
                                    </div>
                                    <div class="approval__buttons">
                                        <button mat-icon-button >
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>check</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                                <mat-card class="mat-elevation-z4">
                                    <div class="meeting__text">
                                        <p>Project Proposal</p>
                                        <p>Requested by: Lorem, ipsum.</p>
                                    </div>
                                    <div class="approval__buttons">
                                        <button mat-icon-button >
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>check</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                                <mat-card class="mat-elevation-z4">
                                    <div class="meeting__text">
                                        <p>CCS Webinar</p>
                                        <p>Requested by: Lorem, ipsum.</p>
                                    </div>
                                    <div class="approval__buttons">
                                        <button mat-icon-button >
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>check</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <!-- End of colored background container -->
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</body>
</html>