/* Sidenav and toolbar styles */
mat-sidenav {
    width: 200px;
    background-color: var(--clr-primary-400);
    color: white;
}

mat-sidenav-container {
    height: 100vh;
}

mat-divider {
    width: 75%;
    margin: 1rem auto;
    background-color: var(--clr-neutral-400);
}

mat-toolbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-spacer {
    flex: 1 1 auto;
}

.logo-placeholder-container  img {
    width: 100%;
    height: auto;
}

.sidenav__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 1rem;
}

.sidenav__button mat-icon {
    margin-right: 1rem;
}

/* End of sidenav and toolbar styles */

.maincontent__container {
    padding: 2rem;
}

.greeting-text > h1 {
    color: var(--clr-primary-400);
    margin: 0;
}

.main__content {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.meeting-type {
    border: 2px solid var(--clr-primary-400);
    border-radius: 0.625rem;
    padding: 0.625rem;
    text-align: center;
    flex-grow: 1;
}

.meeting-type img {
    width: 250px;
}

.meeting-type button {
    background-color: var(--clr-primary-400);
    color: white;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    font-weight: 800;
    width: 100%;
    padding: 0.625rem;
}

.meeting-type button:hover {
    background-color: var(--clr-primary-600);
}

@media screen and (max-width: 46.875em) { 
    .main__content {
        flex-direction: column;
    }

    .maincontent__container {
        padding: 1rem;
    }

    .meeting-type img {
        max-width: 100%;
        height: auto;
    }

    .greeting-text > h1 {
        font-size: 1.5rem;
    }

    .meeting-type button {
        font-size: 1.125rem;
    }
}