<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
                <!-- Content of the sidenav -->
                <div class="sidenav__content">

                    <!-- Temporary logo placeholder -->
                    <div class="logo-placeholder-container">
                        <img src="../../assets/images/flash-logo-temp-removebg-preview.png">
                    </div>

                    <!-- White divider line -->
                    <mat-divider></mat-divider>

                    <!-- Sidenav buttons -->
                    <div class="sidenav__buttons">
                        <button mat-button class="sidenav__button active" routerLink="/prof-home">
                            <mat-icon>home</mat-icon>
                            <span>Home</span>
                        </button>
                        <button mat-button class="sidenav__button" routerLink="/prof-rechistory">
                            <mat-icon>videocam</mat-icon>
                            <span>Records</span>
                        </button>
                        <button mat-button class="sidenav__button"  routerLink="/">
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </div>
                    <!-- End of buttons -->

                    <!-- White divider line -->
                    <mat-divider></mat-divider>
                </div>
            </mat-sidenav>

            <mat-sidenav-content>
                <!-- Toolbar containing sidenav toggle button -->
                <mat-toolbar>
                    <button mat-icon-button (click)="sidenav.toggle()">
                      <mat-icon>menu</mat-icon>
                    </button>
                    <span class="example-spacer"></span>
                    <button mat-icon-button>
                      <mat-icon>account_circle</mat-icon>
                    </button>
                  </mat-toolbar>
                
                <!-- Main content container -->
                <div class="maincontent__container">
                    <div class="greeting-text">
                        <h1>Choose Meeting Type</h1>
                    </div>
                    <div class="main__content">
                        <!-- Meeting type options -->
                        <div class="meeting-type">
                            <img src="../../assets/images/faculty-meeting.png">
                            <div class="meetingtype-btn">
                                <button mat-flat-button routerLink="/prof-schedmeeting">Faculty</button>
                            </div>
                        </div>
                        <div class="meeting-type">
                            <img src="../../assets/images/class-meeting.png">
                            <div class="meetingtype-btn">
                                <button mat-flat-button routerLink="/prof-schedmeeting">Class</button>
                            </div>
                        </div>
                        <div class="meeting-type">
                            <img src="../../assets/images/admin-meeting.png">
                            <div class="meetingtype-btn">
                                <button mat-flat-button routerLink="/prof-schedmeeting">Admin</button>
                            </div>
                        </div>
                        <div class="meeting-type">
                            <img src="../../assets/images/webinar-meeting.png">
                            <div class="meetingtype-btn">
                                <button mat-flat-button routerLink="/prof-schedmeeting">Webinar</button>
                            </div>
                        </div>
                        <!-- End of meeting type options -->
                    </div>

                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</body>
</html>